/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


#form-font{
font-size:18px;
}

#form-font1{
font-size:15px;
font-weight: bold;
}

p{
text-align:justify;
}

.containerText {
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

.containerPoints {
  padding-right: 50px;
  padding-left: 50px;
}

img {
    max-width: 100%;
}

ul.ico-list {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}

ul.icon-list {
    overflow: hidden;
}

ul.ico-list > li {           
    float: left;
    width: 100px;
    margin: 0 5px 50px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

ul.ico-list > li dl {
    margin: 0;
}

/*ul.ico-list > li:hover {
    background-color: #eee;
    overflow: visible;
    width: auto;
}

ul.ico-list > li:hover dl dd {
    color: #000;
}

ul.ico-list > li dl dd .cropped {
    display: none;
}

ul.ico-list > li:hover dl dd .cropped {
    display: inline;
}

ul.ico-list > li:hover dl dt {
    color: #666;
}*/

ul.ico-list li dl dd a {
    text-decoration: none;
}

ul.ico-list li dl dd img {
    border: none;
    display: block;           
    width: 64px;
    height: 64px;
}

/*ul.ico-list > li:hover dl dd img {
    padding-right: 6px;
    background-color: #ccc;
    border-right: 30px solid #aaa;
}*/

.ico-list dl dt {
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.ico-list dl dd {
    margin: 0;
}

.badge {
    display: block;
    margin: 0 0 20px;
    clear: left;
}

/* ul.ico-list > li dl {
    background: url('./overflow.png') repeat-y scroll top right transparent;
    z-index: 10;
}

ul.ico-list > li dl * {
    z-index: 0;
}

ul.ico-list > li:hover dl {
    background-image: none;
    z-index: 0;
} */        

/* ul.ico-list li dl dd > span {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
} */
